.offers {
  background-color: @grey;
}

.offers__list {
  list-style: none;
}

.offers__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.offers__description {
  font-size: 14px;
  font-weight: normal;
  color: @blue;
}
