.app-platforms {
  background-color: @grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-platforms__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  text-align: center;
}

.app-platforms__list {
  list-style: none;
  padding: 0;
}

.app-platforms__item {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
}

@media (min-width: @tablet-width) {
  .app-platforms {
    order: 1;
  }
  .app-platforms__text {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .app-platforms {
    background: none;
    width: 436px;
  }

  .app-platforms__list {
    margin: 0 auto;
  }
}
