.app-effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .app-effect {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .app-effect {
    width: 940px;
    margin: 0 auto;
    justify-content: flex-start;
    padding-left: 130px;
    padding-right: 130px;
    background: @grey;
    padding-bottom: 60px;
  }
}
