.competition {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center;
  display: flex;
  min-height: 168px;
  background-position-y: -68px;
}

.competition__text {
  font-size: 24px;
  font-weight: lighter;
  color: @white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  .mobile;
  padding-top: 30px;
  line-height: 28px;
}

@media (min-width: @tablet-width) {
  .competition__text {
    font-size: 50px;
    .tablet;
    line-height: 59px;
    padding-top: 70px;
  }

  .competition {
    min-height: 330px;
  }
}

@media (min-width: @desktop-width) {
  .competition__text {
    width: 755px;
    margin: 0 auto;
    padding-top: 66px;
  }
}
