.competition {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center;
  display: flex;
  min-height: 168px;
  background-position-y: -68px;
  align-items: center;
}

.competition__text {
  font-size: 24px;
  font-weight: lighter;
  color: @white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  .mobile;
}

@media (min-width: @tablet-width) {
  .competition__text {
    font-size: 50px;
    .tablet;
  }

  .competition {
    min-height: 330px;
  }
}

@media (min-width: @desktop-width) {
  .competition__text {
    width: 755px;
    margin: 0 auto;
  }
}
