.contacts {
  background: @white;
}

.contacts__list {
  list-style: none;
  flex-direction: column;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  color: @blue;
}

.contacts__text {
  font-size: 24px;
  font-weight: normal;
  color: @pink;
  margin-top: 0;
}

.contacts__item {
  text-align: center;
  width: 298px;
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .contacts__list {
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .contacts__item--email {
    order: 1;
  }
}
