.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: @blue;
  margin: 0;
}

.copyright {
  display: flex;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}
