.emotions {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @pink;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.emotions__placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
}

@media (min-width: @tablet-width) {
  .emotions {
    order: 4;
  }

  .emotions__text {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .emotions {
    width: 940px;
  }
}
