.emotions {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @pink;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.emotions__placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
}
