.form {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    order: 5;
  }

  .form__text {
    order: 6;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: flex;
    flex-direction: column;
  }
}
