.main-nav {
  font-family: @family;
  background: @blue;
  color: @white;
}

@media (min-width: 320px) {
  .main-nav__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}
