.page-header {
  background-color: @blue;
}

.page-header__logo-image {
  height: 22px;
}

.page-header__wrapper-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 45px;
  align-items: center;
  border-bottom: 1px solid @black;
  .mobile;
}

.page-header__button {
  background: none;
  border: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-width: 660px;
  }

  .page-header__wrapper-image {
    border: none;
    .tablet;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: 960px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-around;
    .desktop;
  }

  .page-header__button {
    display: none;
  }
}

@media (min-width: @desktop-width) {

}
