.photo-item__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: @blue;
}

.photo-item__time {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @blue;
}

.photo-item__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @blue;
}

.photo-item__like {
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  color: @pink;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photo-item {
    width: 300px;
    background-color: @grey;
  }

  .photo-item--big {
    background-color: @grey;
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .photo-item--big {
    width: 1200px;
  }
}
