.photo-item__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: @blue;
  margin-right: 5px;
  margin-bottom: 0;
}

.photo-item__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @blue;
  margin-bottom: 0;
  margin-top: 15px;
}

.photo-item__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @blue;
  margin-top: 0;
  margin-bottom: 10px;
}

.photo-item__like {
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  color: @pink;
  text-transform: uppercase;
  margin: 0;
  margin-top: auto;
}

.photo-item__wrapper {
  .mobile;
  width: 260px;
  padding-bottom: 19px;
}

.photo-item__wrapper-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-top: 1px;
}

.photo-item__image-like {
  margin-right: 10px;
  vertical-align: baseline;
}

.photo-item__image {
  margin: 0 auto;
}

.photo-item__image--big {
  position: relative;
  width: 100vw;
  left: ~"calc(-50vw + 50%)";
  height: auto;
}

.photo-item {
  background: @grey;
}

@media (min-width: @tablet-width) {
  .photo-item {
    background-color: @grey;
  }

  .photo-item__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 155px;
    padding-bottom: 0;
  }

  .photo-item__like {
    display: flex;
    align-items: center;
  }

  .photo-item__image {
    width: 100%;
    height: 300px;
  }

  .photo-item__wrapper--big {
    width: 620px;
  }

  .photo-item__wrapper-title {
    margin-top: 7px;
  }

  .photo-item__image--big {
    height: 510px;
  }
}

@media (min-width: @desktop-width) {
  .photo-item__wrapper--big {
    width: 940px;
    min-height: 9px;
  }

  .photo-item__wrapper-title {
    margin-top: 1px;
  }

  .photo-item__image {
    height: 400px;
  }

  .photo-item__name {
    margin-top: 17px;
  }

  .photo-item__time {
    margin-top: 18px;
  }
}
