.post__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
  text-align: center;
}

.post__button-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.post__button {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
