.slider-review {
  background-color: @white;
}

.slider-review__list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.slider-review__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.slider-review__description {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
}

@media (min-height: @tablet-width) {
  .slider-review__description {
    font-size: 18px;
  }

  .slider-review {
    width: 620px;
  }

  .slider-review__list {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .slider-review {
    margin: 0 auto;
  }
}
