.title-photo {
  background-color: @white;
}

.title-photo__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
  text-align: center;
  width: 233px;
}

@media (min-width: @tablet-width) {
  .title-photo__text {
    font-size: 18px;
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .title-photo__text {
    width: 575px;
    margin: 0 auto;
  }
}
