.title {
  background-color: @white;
  margin: 0 auto;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 50px;
}

.title__text {
  font-size: 24px;
  font-weight: lighter;
  color: @blue;
  margin-top: 0;
  margin-bottom: 33px;
}

.title__wrapper {
  .mobile;
}

@media (min-width: @tablet-width) {
  .title__text {
    font-size: 40px;
    margin: 0;
  }

  .title {
    text-align: center;
    margin-top: 52px;
    margin-bottom: 17px;
  }

  .title__text--offer {
    width: 334px;
    text-align: center;
    margin: 0 auto;
  }

  .title__wrapper {
    .tablet;
  }
}

@media (min-width: @desktop-width) {
  .title__text {
    font-size: 50px;
    margin: 0 auto;
    margin-right: 10px;
  }

  .title__text--offer {
    width: 417px;
    margin-top: 3px;
    line-height: 58px;
    margin-right: 266px;
  }

  .title__wrapper {
    .desktop;
  }

  .title {
    margin-top: 81px;
  }
}
