.user-data__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @pink;
  text-transform: uppercase;
}

.user-data__placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
  display: block;
}
