.user-data__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @pink;
  text-transform: uppercase;
}

.user-data__placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @blue;
  display: block;
  padding-left: 22px;
  width: 258px;
}

.user-data__contacts {
  display: none;
}

.user-data {
  padding-left: 20px;
  padding-right: 20px;
}

.user-data--contacts {
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .user-data__placeholder {
    display: inline;
    min-width: 525px;
    margin-left: 10px;
  }

  .user-data {
    width: 620px;
    order: 0;
  }

  .user-data--contacts {
    order: 2;
    display: flex;
    flex-direction: column;
  }

  .user-data__contacts {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    color: @pink;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .user-data__text--contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: @desktop-width) {
  .user-data__placeholder {
    width: 340px;
  }

  .user-data {
    width: 436px;
  }

  .user-data--contacts {
    width: 940px;
  }

  .user-data__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
